.header {
    background-color: transparent;
    position: sticky;
    z-index: 99;
    top: -100px;
    transition: transform 0.3s ease;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
}

.header__nav {
    align-items: center;
    display: flex;
}

.nav__list {
    min-height: 88px;
    display: flex;
    gap: 24px;
}

.nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, padding 0.3s ease-in;

    &.active {
        padding: 0 15px;
        background-color: $primaryColor;
    }
}

.nav__link {
    font-size: 16px;

    &:hover {
        text-decoration: underline;
    }

}

.header__burger-btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 5px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.burger__line {
    display: block;
    background-color: #C4C4C4;
    height: 3px;
    &:first-child {
        width: 18px;
    }
    &:last-child {
        width: 13px;
    }
}