$baseColor: #000;
$level1Color: #181823;
$lightGreyColor: #DEECF9;
$darkGreyColor: #C7E0F4;
$textColor: #FFF;
$primaryColor: #5221E6;
$greenAccentColor: #3CC74E;
$pinkAccent: #E95D90;
$peachAccent: #FFF3E4;
$violetAccent: #FFF3E4;
